.env
.env*
.idea
data/
helia-blocks/
helia-data/
node_modules/
relay/helia*
relay/helia-blocks
relay/helia-data
relay/ipns-keys/
relay/leveldb
relay/leveldb/
relay/node_modules
relay/orbitdb
relay/relay.lock
relay/scanning-state*
relay/scanning-state.json
