[submodule "react-orbitdb"]
	path = react-orbitdb
	url = https://github.com/revolunet/react-orbitdb.git
[submodule "orbit/react-blog"]
	path = orbit/react-blog
	url = https://github.com/inspiraluna/react-blog.git
