node_modules/
relay/node_modules
relay/orbitdb
data/
.env
.env*
relay/relay.lock
.idea
helia-blocks/
helia-data/
relay/scanning-state
relay/helia-blocks
relay/helia-data
/relay/ipns-keys/
/relay/scanning_state.json
scanning_state.json
